<div class="leitores-search-bar">
    <input type="text" id="searchLeitor" placeholder="Pesquisar leitor">
    <button id="btn-pesquisar-leitor">Pesquisar</button>
    <button id="btn-listar-todos-leitores">Listar Todos</button>
</div>

<table class="leitores-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody id="leitores-tbody">
        <!-- Leitores serão listados aqui -->
    </tbody>
</table>