*{ font-family: "Raleway", sans-serif; }

.popup-overlay-edit{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-edit{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 70%;
    height: 30%;
    box-shadow: 20px 4px 8px rgba(0,0,0,0.3);
}

.popup-edit form{ width: 100%; height: 100%; background-color: #f2f2f2;}
.form-infos{width: 100%; height: 100%; background-color: #f2f2f2;}

.line{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.inputLabel{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.popup-edit-infos{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 20px 4px 8px rgba(0,0,0,0.3);
}

.inputLabel-text{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.inputLabel input{
    border: none;
    border-radius: 10px;
    height: 40%;
    width: 90%;
    padding-left: 5px;
}

.line-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.line-buttons button{
    width: 20%;
    height: 50%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}