.leitores-bar{
    width: 100%;
    height: 20%;
    background-color: #263238;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.leitores-bar-itemData{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    color: #fff;
}

.leitores-bar-itemData img{
    width: 30px;
    height: 30px;
}

.leitores-bar-itemData h3, img{
    cursor: pointer;
}

.leitores-bar-itemAdd{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    color: #fff;
}

.leitores-bar-itemAdd h3{
    cursor: pointer;
}

.leitores-bar-itemAdd img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.leitores-container {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.leitores-search-bar {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.leitores-search-bar input {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    background-color: #E0E0E0;
    border: #BDBDBD solid 1px;
    outline: none;
    margin-left: 10px;
    color: black;
}

.leitores-search-bar input::placeholder{color: black;}

#btn-pesquisar-leitor {
    background-color: #FFC100;
    width: 20%;
    padding: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 10px;
}

#btn-listar-todos-leitores{
    background-color: #4285F4;
    width: 20%;
    padding: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 10px;
}

.leitores-table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    background-color: #fff; 
}

.leitores-table th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.leitores-table td{
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    width: 20%;
    font-size: small;
}

.leitores-table th {
    background-color: #263238;
    color: white;
}

.leitores-table td button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.leitores-table .edit-btn { background-color: #FFC100; width: 30%; }
.leitores-table .delete-btn { background-color: #E53935; width: 30%;}
.leitores-table .info-btn { background-color: #4285F4; width: 25%; }

.adicionar-leitor{
    width: 100%;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-adicionar-leitor{
    width: 60%;
    height: 90%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.form-adicionar-leitor input{
    width: 80%; 
    height: 10%;
    border-radius: 15px;
    background-color: #E0E0E0;
    border: #BDBDBD solid 1px;
    padding-left: 10px;
    outline: none;
    color: black;
}

.form-adicionar-leitor input::placeholder{ color: black; }

.form-adicionar-leitor button{
    width: 80%;
    height: 10%;
    border: none;
    border-radius: 15px;
    background-color: #9BC53D;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.form-adicionar-leitor button:hover{ transform: scale(1.05);}