<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/close.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>{{ titulo }}</title>
</head>
<body>
    <div class="popup-overlay-edit">

        {% if infos %}
        <div class="popup-edit">
            <form action='{{ url_for('updateBook', book_id = infos[0]) }}' method="POST">

                <div class="line">
                    <div class="inputLabel">
                        <label for="">Título</label>
                        <input type="text" placeholder="Título" required value="{{ infos[1] }}" name="upTitle">
                    </div>

                    <div class="inputLabel">
                        <label for="">Autor(a)</label>
                        <input type="text" placeholder="Autor(a)" required value="{{ infos[2] }}" name="upAuthor">
                    </div>

                    <div class="inputLabel">
                        <label for="">Editora</label>
                        <input type="text" placeholder="Editora" required value="{{ infos[3] }}" name="upEditor">
                    </div>
                </div>

                <div class="line">
                    <div class="inputLabel">
                        <label for="">Ano de publicação</label>
                        <input type="text" placeholder="Ano de publicação" required value="{{ infos[4] }}" name="upYear">
                    </div>

                    <div class="inputLabel">
                        <label for="">Quantidade de páginas</label>
                        <input type="text" placeholder="Quantidade de páginas" required value="{{ infos[8] }}" name="upPages">
                    </div>

                    <div class="inputLabel">
                        <label for="">ISBN</label>
                        <input type="text" placeholder="ISBN (somente números)"required value="{{ infos[5] }}" name="upISBN">
                    </div>
                </div>

                <div class="line-buttons">
                    <button style="background-color: #4285F4;">Atualizar</button>
                    <button style="background-color: #ccc;" onclick="window.close()">Cancelar</button>
                </div>

            </form>
        </div>
        {% endif %}

        {%if infoBook %}
        <div class="popup-edit-infos">
            <div class="form-infos">
                <div class="line">
                    <div class="inputLabel-text">
                        <h5>Título</h5>
                        <p>{{ infoBook[1] }}</p>
                    </div>

                    <div class="inputLabel-text">
                        <h5>Autor(a)</h5>
                        <p>{{ infoBook[2] }}</p>
                    </div>

                    <div class="inputLabel-text">
                        <h5>Editora</h5>
                        <p>{{ infoBook[3] }}</p>
                    </div>
                </div>

                <div class="line">
                    <div class="inputLabel-text">
                        <h5>Ano de publicação</h5>
                        <p>{{ infoBook[4] }}</p>
                    </div>

                    <div class="inputLabel-text">
                        <h5>Quantidade de páginas</h5>  
                        <p>{{ infoBook[8] }}</p>
                    </div>

                    <div class="inputLabel-text">
                        <h5>ISBN</h5>
                        <p>{{ infoBook[5] }}</p>
                    </div>
                </div>

                <div class="line-buttons">
                    <button style="background-color: #ccc; height: 40%;" onclick="window.close()">Fechar</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>